.issues__pagination {
  padding-top: 1rem;
  text-align: center;
}

.issues__pagination > ul {
  padding: 0;
  margin: 0;
}

.issues__pagination li {
  display: inline-block;
}
.issues__pagination li > a {
  padding: 0.5rem;
  margin: 1px;
  display: inline-block;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d8eef5;
  border-radius: 2px;
  min-width: 1rem;
}

.issues__pagination li > a:focus {
  outline: none;
}

.issues__pagination li > a:hover {
  background-color: #d8eef5;
}

.issues__pagination .selected a {
  box-shadow: 0 0 2px #1b7d9e;
  background-color: #f3fcff;
}

.issues__pagination .disabled > a {
  color: #ccc;
  background-color: #f8f8f8;
  border-color: #eee;
  cursor: default;
}
.issues__pagination .disabled > a:hover {
  background-color: #f8f8f8;
}
.issues__pagination .break {
  margin: 0 8px;
}
.issues__pagination .previous {
  margin-right: 1rem;
}
.issues__pagination .next {
  margin-left: 1rem;
}