.issue-detail__meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.issue-detail__number {
  color: #999;
}

.issue-detail__state {
  border: 2px solid;
  border-radius: 3px;
  padding: 0.2rem 2rem;
}

.issue-detail__summary {
  margin-bottom: 2rem;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 1.4rem;
}

.issue-detail--loading,
.issue-detail--error {
  text-align: center;
}

.markdown img {
  max-width: 100%;
}
.markdown pre {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 2px;
  background-color: #f9f9f9;
  overflow-x: auto;
}
.markdown p > code {
  padding: 3px 5px;
  border-radius: 2px;
  background-color: #f7f7f7;
}

.issue-detail__state--open {
  border-color: #7CB342;
  background-color: #8bc34a;
  color: #fff;
  font-weight: 600;
}

.divider--short {
  max-width: 80%;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
}

.issue-detail .issue__labels {
  margin-bottom: 2rem;
}

.issue-detail--no-comments,
.issue-detail--comments-loading,
.issue-detail--comments-error {
  text-align: center;
  color: #999;
}

.issue-detail__comments {
  padding: 0 1rem;
}
.issue-detail__comments > li {
  list-style: none;
}

.issue-detail__comment {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.issue-detail__comment__body {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.issue-detail__comment__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
  min-width: 40px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.issue-detail__comment__username {
  font-weight: bold;
}