.issue {
  border-bottom: 1px solid #ddd;
  display: flex;
  padding: 1rem 0.5rem;
}

.issue__number {
  font-size: 14px;
  color: #999;
  margin-right: 0.5rem;
}

.issue__title {
  font-weight: bold;
}

.issue__label {
  display: inline-block;
  font-size: 0.75rem;
  padding: 1px 5px;
  margin: 0 0.5rem 0.5rem 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.issue .issue__user {
  margin-right: 0.5rem;
}

.issue__summary {
  padding-left: 0.5rem;
}

.issue__labels {
  padding-left: 0.5rem;
}

.issue__body {
  word-wrap: break-word;
  overflow: hidden;
}

.issue--loading .issue__body {
  width: 100%;
}
.issue--loading .issue__number,
.issue--loading .issue__title {
  background-color: #e5e5e5;
  display: inline-block;
  margin-right: 0.5rem;
}
.issue--loading .issue__number {
  width: 20%;
  max-width: 4rem;
}
.issue--loading .issue__title {
  width: 70%;
}
.issue--loading .issue__summary {
  background-color: #e5e5e5;
  width: 95%;
}